body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}
h1 {
    font-size: 50px;
    color: #ff9204;
}
p {
    font-size: 20px;
    color: #555;
}
a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}